@page "/users"
@using Blazor_Test.Models
@using Blazor_Test.Services
@inject UserServices userServices

<PageTitle>User</PageTitle>

<h1>User</h1>
@if (users == null)
{
    <p>Loading....</p>
}
else
{
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>User</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>
                    @user.FullName
                </td>
                <td>
                    @user.UserName
                </td>     
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Password
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code{
  User[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await userServices.GetAllUsers();
    }
}







